@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", serif;
    background-color: hsl(217, 100%, 97%);
}

main {
    background-color: white;
    max-width: 900px;
    margin: auto;
    display: flex;
    margin-top: 100px;
}

.section1 {
    /* background-color: wheat; */
    padding: 15px;
}

.steps {
    position: absolute;
    margin-top: -400px;
}

/* second section */
.section2 {
    max-width: 600px;
    /* background-color: blanchedalmond; */
}

/* plans */
.select_plan {
    display: none;
}

/* add ons */
.add_ons {
    display: none;
}

/* finsishing up */
.finishing_up {
    display: none;
}

/* thank you */
.thanks {
    display: none;
}