@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    /* primary colors */
    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);

    /* secondary colors */
    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --mongila: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", serif;
    background-color: var(--mongila);
}

main {
    background-color: white;
    max-width: 1000px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    height: 600px;
    border-radius: 20px;
}

.section1 {
    padding: 15px;
}

.steps {
    position: absolute;
    top: 60px;
    left: 50px;
}

.step {
    display: flex;
    margin-bottom: 30px;
    color: white;
    text-decoration: none;
}

.btn {
    background-color: transparent;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 50%;
    color: white;
    font-weight: 700;
    font-size: 14px;
    margin-right: 20px;
}

/* active state for product buttons */
.btn:hover {
    background-color: var(--light-blue);
    color: var(--marine-blue);
}

.description h4 {
    font-size: 14px;
    font-weight: lighter;
    color: var(--cool-gray);
    padding-bottom: 5px;
}

.description p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

/* second section */
.section2 {
    max-width: 1000px;
    margin-top: 50px;
    flex: 2;
    padding: 0 120px;
}

/* personal info */
.personal_info {
    display: none;
}

.heading {
    font-size: 1.9rem;
    color: var(--marine-blue);
    padding-bottom: 15px;
}

.sub {
    color: var(--cool-gray);
    padding-bottom: 40px;
}

.field {
    margin-bottom: 20px;
}

.field label {
    font-size: 16px;
    color: var(--marine-blue);
    font-weight: 500;
}

.field input {
    margin-top: 5px;
    width: 100%;
    height: 50px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid var(--light-gray);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

::placeholder {
    color: var(--cool-gray);
}

.cta_next_step {
    margin-top: 90px;
}

.next_step {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--white);
    background-color: var(--marine-blue);
    border: none;
    border-radius: 7px;
    float: right;
    cursor: pointer;
}

/* plans */
.select_plan {
    display: block;
}

.plans {
    display: flex;
    justify-content: space-between;
}

.plan {
    max-width: 150px;
    background-color: var(--light-blue);
    border: 1px solid var(--cool-gray);
}

/* add ons */
.add_ons {
    display: none;
}


/* finsishing up */
.finishing_up {
    display: none;
}

/* thank you */
.thanks {
    display: none;
}